.header:has(.header__burger-menu.opened) {
  height: 100vh;
  background: #fff;
  overflow-y: auto;
}
.header:has(.header__burger-menu.opened) .header__menu {
  display: none;
  height: 0;
  width: 0;
}
.header:has(.header__burger-menu.opened) .header__search {
  display: none;
  height: 0;
  width: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 3;
}
@media (max-width: 768px) {
  .header {
    background: #fff;
  }
}
.header__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1024px) {
  .header__holder {
    gap: 0.8rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header__holder {
    row-gap: 0.6rem;
  }
}
.header__logo {
  height: 2.3rem;
}
@media (max-width: 1400px) {
  .header__logo {
    height: 1.6rem;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    height: 2.1rem;
  }
}
@media (max-width: 768px) {
  .header__logo {
    height: 1.5rem;
  }
}
.header__logo a {
  width: fit-content;
}
.header__logo img {
  width: auto;
}
.header__menu-element {
  background: #F5F5F5;
  border-radius: 90px;
  padding: 0 1.6rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  .header__menu-element {
    height: 2.4rem;
    padding: 0 0.8rem;
  }
}
@media (max-width: 1024px) {
  .header__menu-element {
    padding: 0 1.2rem;
  }
}
@media (max-width: 768px) {
  .header__menu-element {
    padding: 0 0.5rem;
    height: 1.8rem;
  }
}
.header__menu {
  gap: 3rem;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .header__menu {
    gap: 1rem;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    order: 2;
  }
}
.header__menu-bar {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .header__menu-list {
    gap: 1rem;
  }
}
.header__menu-item a {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: #292522;
  transition-delay: 0.1s;
  transition: color 0.1s ease;
}
@media (max-width: 1400px) {
  .header__menu-item a {
    font-size: 0.7rem;
  }
}
.header__menu-item a.active {
  color: #fff;
}
.header__menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 768px) {
  .header__menu-links {
    gap: 1rem;
  }
}
.header__menu-link {
  height: 1.1rem;
  position: relative;
}
@media (max-width: 768px) {
  .header__menu-link {
    height: 0.8rem;
  }
}
.header__menu-cart-quantity {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(70%, -65%);
  font-size: 0.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  padding: 0.2rem 0.4rem;
  background: #f23c20;
  border-radius: 12px;
}
@media (max-width: 1024px) {
  .header__menu-cart-quantity {
    transform: translate(70%, -55%);
    font-size: 0.4rem;
    padding: 0.1rem 0.2rem;
  }
}
.header__search {
  padding-right: 2.8rem;
  position: relative;
  max-width: 22.5rem;
  flex-shrink: 1;
}
@media (max-width: 1800px) {
  .header__search {
    max-width: 9.5rem;
  }
}
@media (max-width: 1400px) {
  .header__search {
    max-width: 7rem;
  }
}
@media (max-width: 1024px) {
  .header__search {
    max-width: none;
    flex-grow: 1;
    order: 1;
  }
}
@media (max-width: 768px) {
  .header__search {
    flex-basis: 100%;
    order: 4;
    padding-right: 1.8rem;
    padding-left: 0.8rem;
  }
}
.header__search::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  background: url(../images/search-icon.svg) no-repeat center/contain;
}
@media (max-width: 768px) {
  .header__search::after {
    width: 0.8rem;
    height: 0.8rem;
    right: 0.5rem;
  }
}
.header__input {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: #292522;
  background: none;
  border: none;
  width: 100%;
}
@media (max-width: 1400px) {
  .header__input {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .header__input {
    font-size: 0.6rem;
  }
}
.header__btn {
  height: 100%;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: #292522;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .header__btn {
    font-size: 0.7rem;
  }
}
.header__menu-drop-down {
  position: absolute;
  top: 100%;
  left: 0;
  background: #1e5540;
  border-radius: 24px;
  padding: 0;
  overflow: hidden;
  transition: left 0.3s ease, padding 0.3s ease, height 0.3s ease;
  box-sizing: content-box;
}
.header__menu-drop-down.active {
  padding: 1.6rem 1.2rem;
}
.header__drop-down-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 0.1s ease, visibility 0.1s ease;
}
.header__drop-down-list.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.header__drop-down-item a {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  color: #fff;
}
.header__burger {
  padding: 0.6rem;
  height: fit-content;
  order: 3;
}
@media (max-width: 768px) {
  .header__burger {
    padding: 0 0.5rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__burger path {
  transition: transform 0.3s ease;
  transform: translate(0) rotateZ(0deg);
}
.header__burger.opened path {
  transform-origin: center;
}
.header__burger.opened #header__burger-top-line {
  transform: translate(3px, -1px) rotateZ(45deg);
}
.header__burger.opened #header__burger-bottom-line {
  transform: translate(3px, 3px) rotateZ(-45deg);
}
.header__burger-menu {
  display: none;
  flex-basis: 100%;
  min-height: 100%;
  order: 5;
}
.header__burger-menu.opened {
  display: block;
}
.header__burger-menu.opened .accrodion-holder {
  padding-top: 3rem;
  padding-right: 0.6rem;
}
.header__burger-menu.opened .header__mobile-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__burger-menu.opened .header__mobile-item a {
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: -0.03em;
  color: #292522;
}

.underline {
  position: absolute;
  background: #1e5540;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 22px;
  transition: width 0.3s ease, left 0.3s ease;
}

@media (max-width: 1024px) {
  .header-pc {
    display: none;
  }
}

.header-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header-mobile {
    display: block;
  }
}

.header-mobile.header__burger {
  display: none;
}
@media (max-width: 1024px) {
  .header-mobile.header__burger {
    display: flex;
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: #292522;
  background: none;
  border: none;
  transition: margin 0.5s ease;
}

.accordion-header.opened {
  margin-bottom: 1.5rem;
}

.accordion-item--no-open {
  width: 100%;
}

.accordion-item--no-open a {
  text-align: left;
  color: #292522;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
}

.accordion-title {
  flex-basis: 95%;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
}

@media (max-width: 768px) {
  .accordion-title {
    flex-basis: 88%;
  }
}
.accordion-bullet {
  flex-basis: 5%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .accordion-bullet {
    flex-basis: 12%;
  }
}
.accordion-bullet path {
  transform-origin: center;
  transform: rotateZ(0deg);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.accordion-bullet.opened #accordion-bullet-hor {
  transform: rotateZ(90deg);
}
.accordion-bullet.opened #accordion-bullet-vert {
  transform: rotateZ(90deg);
  opacity: 0;
}

.accordion-content {
  overflow: hidden;
  margin-bottom: 0.8rem;
  height: 0;
  transition: all 0.5s ease;
  color: #292522;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 0.5rem;
  padding: 0 0.6rem;
}

@media (max-width: 768px) {
  .accordion-content {
    row-gap: 1rem;
  }
}