.main {
  padding-top: 2rem;
}
@media (max-width: 1400px) {
  .main {
    padding-top: 1.4rem;
  }
}
@media (max-width: 768px) {
  .main {
    padding-top: 0.2rem;
  }
}

.title {
  grid-column: 1/-1;
  margin-bottom: 1.5rem;
}

.cart {
  grid-column: 1/6;
  padding-right: 4rem;
}
@media (max-width: 1800px) {
  .cart {
    grid-column: 1/5;
    padding-right: 1rem;
  }
}
@media (max-width: 1400px) {
  .cart {
    padding-right: 0;
  }
}
@media (max-width: 1024px) {
  .cart {
    grid-column: 1/-1;
  }
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart__item {
  display: flex;
  gap: 2.4rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
@media (max-width: 1400px) {
  .cart__item {
    padding-bottom: 0.8rem;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .cart__item {
    gap: 0.8rem;
  }
}
.cart__img {
  display: block;
  height: auto;
  aspect-ratio: 1/1;
  width: 12rem;
  overflow: hidden;
  border: 0.5px solid #1E5540;
  border-radius: 24px;
}
@media (max-width: 1400px) {
  .cart__img {
    width: 9rem;
  }
}
@media (max-width: 768px) {
  .cart__img {
    width: 5rem;
    height: 5rem;
  }
}
.cart__img img {
  object-fit: cover;
  object-position: center;
}
.cart__info {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 1.2rem;
}
@media (max-width: 1400px) {
  .cart__info {
    gap: 0.6rem;
  }
}
@media (max-width: 768px) {
  .cart__info {
    gap: 0.5rem;
  }
}
.cart__actions {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cart__actions {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }
}
.cart__actions button {
  font-weight: 400;
  font-size: 0.6rem;
  text-decoration: underline;
  text-underline-offset: 0.15rem;
  opacity: 0.8;
  border: none;
  background: none;
}
@media (max-width: 768px) {
  .cart__actions button {
    font-size: 0.5rem;
  }
}
.cart__title {
  display: inline-block;
}
@media (max-width: 768px) {
  .cart__title {
    font-size: 0.8rem;
  }
}
.cart__style {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
}
@media (max-width: 1400px) {
  .cart__style {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) {
  .cart__style {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .cart__style {
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.cart__stock {
  font-size: 0.6rem;
  letter-spacing: -0.03em;
  color: #1E5540;
}
@media (max-width: 768px) {
  .cart__stock {
    font-size: 0.5rem;
  }
}
.cart__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart__price-actual {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: -0.03em;
  position: relative;
  color: #292522;
}
@media (max-width: 1400px) {
  .cart__price-actual {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .cart__price-actual {
    font-size: 0.7rem;
  }
}
.cart__price-actual:has(.cart__price-old) {
  color: #f23c20;
}
.cart__price-old {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  opacity: 0.5;
  text-decoration: line-through;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  transform: translate(100%, -20%);
  color: #292522;
}
@media (max-width: 1400px) {
  .cart__price-old {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .cart__price-old {
    font-size: 0.5rem;
  }
}
.cart__volume {
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.8;
  color: #292522;
  padding: 0 0.5rem 0.2rem 0;
}
@media (max-width: 1400px) {
  .cart__volume {
    font-size: 0.6rem;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .cart__volume {
    font-size: 0.5rem;
  }
}

.quantity {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border: 1px solid #000;
  border-radius: 90px;
  gap: 0.2rem;
  width: fit-content;
}
@media (max-width: 1024px) {
  .quantity {
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 768px) {
  .quantity {
    justify-content: space-between;
    width: 100%;
  }
}
.quantity__minus, .quantity__plus {
  width: 1.2rem;
  height: 1.2rem;
  background: none;
  border: none;
}
@media (max-width: 768px) {
  .quantity__minus, .quantity__plus {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.quantity__num {
  text-align: center;
  width: 3rem;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  color: #000;
}
@media (max-width: 768px) {
  .quantity__num {
    font-size: 0.5rem;
    flex: 1 0 0;
    width: 100%;
  }
}
.quantity__num::-webkit-outer-spin-button, .quantity__num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.same {
  grid-column: 1/-1;
}

.same > svg {
  position: absolute;
  width: 0;
  height: 0;
}

/*# sourceMappingURL=cart.css.map */
