.catalog {
  grid-column: 3/-1;
  margin-left: -1.5rem;
}
@media (max-width: 1800px) {
  .catalog {
    margin-left: 0;
  }
}
@media (max-width: 1400px) {
  .catalog {
    padding-left: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .catalog {
    grid-column: 1/-1;
    padding-left: 0;
  }
}
.catalog > svg {
  position: absolute;
  width: 0;
  height: 0;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem 1.2rem;
  margin-bottom: 6rem;
}
@media (max-width: 1800px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem 1.2rem;
  }
}
@media (max-width: 1400px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }
}
@media (max-width: 1024px) {
  .catalog__list {
    margin-bottom: 4rem;
  }
}
@media (max-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 0.6rem;
  }
}
.catalog .beer-card__picture-block {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  .catalog .beer-card__picture-block {
    margin-bottom: 0.4rem;
  }
}
.catalog .beer-card__list {
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .catalog .beer-card__list {
    gap: 0.4rem;
  }
}
.catalog .beer-card__title {
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .catalog .beer-card__title {
    font-size: 0.5rem;
  }
}
.catalog .beer-card__item {
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .catalog .beer-card__item {
    font-size: 0.5rem;
  }
}
.catalog .beer-card__params .beer-card__param {
  padding: 0 0.3rem;
}
@media (max-width: 768px) {
  .catalog .beer-card__params .beer-card__param {
    padding: 0 0.2rem;
  }
}
.catalog .beer-card__param:first-child {
  padding-left: 0;
}
.catalog .beer-card__param:last-child {
  padding-right: 0;
}
.catalog__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.catalog__more {
  min-width: 9.2rem;
}
.catalog__pagination {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
@media (max-width: 768px) {
  .catalog__pagination {
    gap: 0.8rem;
  }
}
.catalog__pagination-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__pagination-item img {
  object-position: center;
}
.catalog .num {
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: -0.03em;
  color: #000;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .catalog .num {
    font-size: 0.7rem;
  }
}
.catalog .prev {
  width: 1rem;
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .catalog .prev {
    width: 0.8rem;
    margin: 0;
  }
}
.catalog .current {
  opacity: 1;
}
.catalog .next {
  width: 1rem;
  margin-left: 0.5rem;
}
@media (max-width: 768px) {
  .catalog .next {
    width: 0.8rem;
    margin: 0;
  }
}
.catalog .inactive {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}