<section class="catalog section">
    <svg width="220" height="220" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg"><!--СВГ для обрезки фото и генерации обводки. Указываем тут один раз-->
        <clipPath id="clip-path">
            <path d="M17.5996 0.5H202.4C211.844 0.500206 219.5 8.15585 219.5 17.5996V153C219.5 162.444 212.444 169.5 203 169.5H186C181.065 169.5 176.813 170.713 173.786 173.22C170.745 175.738 169 179.514 169 184.5V201C169 210.498 161.393 219.5 152 219.5H17.5996C8.15585 219.5 0.500206 211.844 0.5 202.4V17.5996C0.500211 8.15585 8.15585 0.500211 17.5996 0.5Z" stroke="#1E5540" stroke-width="1" />
        </clipPath>
    </svg>
    <svg width="136" height="136" viewBox="0 0 136 136" xmlns="http://www.w3.org/2000/svg">
        <clipPath id="clip-path-mobile">
                <path d="M21.7598 0.5H114.24C125.982 0.500128 135.5 10.0184 135.5 21.7598V66.5C135.5 76.2222 133.824 81.9229 130.604 85.2129C127.39 88.4955 122.518 89.5 115.773 89.5H108.925C104.189 89.5 98.8743 89.6399 95.0322 92.7939C94.4027 93.3107 93.855 93.8547 93.374 94.4189C91.5485 96.5605 90.6383 99.1576 90.1807 101.872C89.7239 104.581 89.7129 107.445 89.7129 110.132V117.5C89.7129 123.464 88.5848 127.915 85.4756 130.896C82.3583 133.883 77.1375 135.5 68.6797 135.5H21.7598C10.0184 135.5 0.500128 125.982 0.5 114.24V21.7598L0.506836 21.2109C0.798057 9.7232 10.2019 0.500125 21.7598 0.5Z" stroke="#1E5540" />
        </clipPath>
    </svg>
    <ul class="catalog__list">
        <!--Начало цикла вывода товаров-->
        <li class="catalog__item beer-card"><!--Компонент карточки товара-->
            <div href="#" class="beer-card__picture-block">
                <svg class="beer-card__border beer-card__border--pc" width="300" height="300" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                    <path d="" stroke="#1E5540" stroke-width="0.5" fill="none"/>
                </svg>
                <svg class="beer-card__border beer-card__border--mobile" width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path d="" stroke="#1E5540" stroke-width="0.5" fill="none"/>
                </svg>
                <a href="#"><img src="images/new-1.jpg" alt="Пшеничный Эль Essenbach" class="beer-card__img"></a>
                <button type="button" class="beer-card__like">
                    <img src="images/star-icon.svg" alt="В избранное">
                </button>
                <button type="button" class="beer-card__to-cart">
                    <img src="images/cart-white-icon.svg" alt="В корзину">
                </button>
            </div>
            <ul class="beer-card__list">
                <li class="beer-card__item">
                    <a href="#"><h5 class="beer-card__title">Пшеничный Эль <span>Essenbach</span></h5></a><!--Стиль, название, ссылка на товар -->
                </li>
                <li class="beer-card__item">
                    <p class="beer-card__brewery">Пивоварня: <span>Plague Brew</span></p><!--Пивоварня-->
                </li>
                <li class="beer-card__item beer-card__params"><!--Характеристики-->
                    <span class="beer-card__param">ABV: 12%</span>
                    <span class="beer-card__param">OG: 24%</span>
                    <span class="beer-card__param">IBU: 100</span>
                </li>
                <li class="beer-card__item beer-card__price-block">
                    <span class="beer-card__price-item beer-card__price"><!--ОБЯЗАТЕЛЬНО. Стоимость-->
                        215 р
                        <span class="beer-card__price-item beer-card__price-old">260 р</span><!--НЕОБЯЗАТЕЛЬНО. Стоимость со скидкой (при наличии). Если есть, основная стоимость стилизуется иначе-->
                    </span> 
                    <span class="beer-card__price-item beer-card__volume">450 мл</span><!--Объем-->
                </li>
            </ul>
        </li>
        <!--Конец цикла вывода товаров-->
    </ul>
    <nav class="catalog__navigation"><!--Блок пагинации-->
        <a href="#" class="catalog__more border-btn"><!--Кнопка Показать еще, тег можно заменить на button-->
            <p>Показать ещё</p>
            <div>
                <img src="images/arrow-down-white.svg" alt="Показать">
            </div>
        </a>
        <ul class="catalog__pagination">
            <li class="catalog__pagination-item prev inactive"><!--Стрелочка Назад-->
                <a href="#"><img src="images/arrow-left-black.svg" alt="Назад"></a>
            </li>
            <!--Циклом вывести все страницы-->
            <li class="catalog__pagination-item num current">
                <a href="#">1</a>
            </li>
            <li class="catalog__pagination-item num">
                <a href="#">2</a>
            </li>
            <li class="catalog__pagination-item num">
                <a href="#">3</a>
            </li>
            <li class="catalog__pagination-item next"><!--Стрелочка Вперед-->
                <a href="#"><img src="images/arrow-right-black.svg" alt="Вперед"></a>
            </li>
        </ul>
    </nav>
</section>