    <!--Компонент шапки-->
    <div class="wrapper">
        <main class="main container">
            <h1 class="title h1">Проверить заказ</h1><!--Заголовок страницы-->
            <section class="check section">
                <h2 class="check__title h2">Чтобы проверить заказ, введите свой номер телефона и код с картинки</h2><!--Текст-->
                <form class="check__form" name="orderCheck" id="orderCheck" method="post" action="index.php?pageId=135"><!--Форма проверки заказа-->
                    <input type="hidden" name="refresh" id="refresh" value="">
                    <div class="check__captcha">
                        <img src="images/test-captcha.jpg" alt="Captcha"><!--Картинка капчи-->
                    </div>
                    <div class="check__field">
                        <label for="name">Код с картинки*</label>
                        <input type="text" name="keystring" id="keystring" autocomplete="on" required>
                        <p class="checkout__error"></p>
                    </div>
                    <div class="check__field">
                        <label for="phone">Номер телефона*</label>
                        <input type="tel" name="phone" id="phone" autocomplete="on" required>
                        <p class="checkout__error"></p>
                    </div>
                    <button type="button" class="check__confirm-btn bg-btn">Проверить заказ</button>
                </form>
            </section>
        </main>
    </div>
    <!--Компонент cookie-->
    <!--Компонент подвала-->
    <!--Скрипты этой страницы-->
