
    <!--Компонент шапки-->
    <div class="wrapper">
        <main class="main">
            <section class="about container grid section">
                <h1 class="about__title">о нас</h1>
                <div class="about__info">
                    <p class="about__history">Завод «Арсенал» начал свою историю в 1711 году по указу Петра I в Санкт-Петербурге, ставший знаковым местом для развития российской артиллерии. </p>
                    <div class="about__img">
                        <img src="images/shop-2.webp" alt="Наш магазин">
                    </div>
                </div>
                <div class="about__video about__img">
                    <img src="images/shop-1.webp" alt="Наш магазин">
                </div>
                <p class="about__text">Приглашаем вас в наш уникальный магазин «Пивной склад», расположенный в сердце Санкт-Петербурга. Здесь мы представляем нашу продукцию на любой вкус и случай жизни! Здесь представлен широкий ассортимент напитков от ведущих пивоварен России, включая как проверенные временем классические сорта, так и уникальные эксперименты от новых игроков в индустрии. Все напитки представленные на нашем Складе, по очень доступным ценам, с самой доступной цене на крафт, во всём городе!</p>
            </section>
            <section id="excursion" class="excursion container">
                <div class="excursion__holder">
                    <h2 class="excursion__title">Экскурсии на пивоварню с дегустацией в санкт-петербурге</h2>
                    <a href="https://fermentor.ru/ekskursia-na-pivovarnu/" target="_blank" class="excursion__btn bg-btn">Забронировать экскурсию</a><!--Ссылка на ферментор-->
                </div>
            </section>
            <section class="bottles container grid section">
                <div class="bottles__info">
                    <a href="#" class="bottles__button border-btn"><!--Ссылка на Telegram-->
                        <p>Телеграм-канал с новинками</p>
                        <div>
                            <img src="images/arrow-right-white.svg" alt="Перейти">
                        </div>
                    </a>
                    <p class="bottles__text">У нас вы найдете как проверенные классические сорта, так и необычные эксперименты по доступным ценам, являющимися самыми низкими в городе. Мы предлагаем индивидуальный подход к каждому клиенту, постоянные скидки и возможность участвовать в лекториях и дегустациях новинок.</p>
                </div>
                <div class="bottles__cart-holder">
                    <img src="images/drop-can-1.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-2.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-3.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-4.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-5.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-6.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-7.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-8.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-9.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <img src="images/drop-can-10.png" alt="Товар" class="bottles__bottle" loading="lazy">
                    <div class="bottles__cart">
                        <img src="images/shopping-cart.png" alt="Наша продукция">
                    </div>
                </div>
            </section>
            <section id="contacts" class="contacts container section">
                <div class="contacts__holder">
                    <ul class="contacts__info">
                        <li class="contacts__item">
                            <p class="contacts__title">Ждем вас по адресу:</p>
                            <a href="https://yandex.ru/maps/-/CHHy7Qno" class="contacts__contact">Арсенальная ул., 2, Санкт-Петербург</a>
                        </li>
                        <li class="contacts__item">
                            <p class="contacts__title">Часы работы:</p>
                            <p href="tel:79217793845" class="contacts__contact">ПН-ПТ с 10:00 до 19:00</p>
                        </li>
                        <li class="contacts__item">
                            <p class="contacts__title">Номер телефона:</p>
                            <a href="tel:79217793845" class="contacts__contact">+7 (921) 779-38-45</a>
                        </li>
                        <li class="contacts__item">
                            <ul class="contacts__socials">
                                <li><a href="#"><img src="images/ig-social.svg" alt="instagram"></a></li>
                                <li><a href="#"><img src="images/tg-social.svg" alt="telegram"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="contacts__map">
                        <div style="position:relative;overflow:hidden;width:100%;height:100%;"><a href="https://yandex.ru/maps/org/pivnoy_sklad/43960976246/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Пивной склад</a><a href="https://yandex.ru/maps/2/saint-petersburg/category/beer_shop/40891073018/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин пива в Санкт‑Петербурге</a><a href="https://yandex.ru/maps/2/saint-petersburg/category/alcoholic_beverages/184107899/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Алкогольные напитки в Санкт‑Петербурге</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.373513%2C59.955417&mode=search&oid=43960976246&ol=biz&source=serp_navig&z=16.98" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--Компонент cookie-->
    <!--Компонент футера-->
    <!--Скрипты этой страницы-->
