@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
.main {
    padding-top: 2rem;
    
    @include laptop {
        padding-top: 1.4rem;
    }
    @include mobile {
        padding-top: .2rem;
    }
}

//Title
.title {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
}

//Cart block
.cart {
    grid-column: 1 / 6;
    padding-right: 4rem;
    
    @include pc {
        grid-column: 1 / 5;
        padding-right: 1rem;
    }
    @include laptop {
        padding-right: 0;
    }
    @include tablet {
        grid-column: 1 / -1;
    }
    @include mobile {
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__item {
        display: flex;
        gap: 2.4rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        
        @include pc {
        }
        @include laptop {
            padding-bottom: .8rem;
            gap: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            gap: .8rem;
        }
    }
    &__img {
        display: block;
        height: auto;
        aspect-ratio: 1 / 1;
        width: 12rem;
        overflow: hidden;
        border: 0.50px solid #1E5540;
        border-radius: 24px;
        
        @include pc {
        }
        @include laptop {
            width: 9rem;
        }
        @include tablet {
        }
        @include mobile {
            width: 5rem;
            height: 5rem;
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        gap: 1.2rem;
        
        @include pc {
        }
        @include laptop {
            gap: .6rem;
        }
        @include tablet {
        }
        @include mobile {
            gap: .5rem;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
        }

        button {
            font-weight: 400;
            font-size: .6rem;
            text-decoration: underline;
            text-underline-offset: .15rem;
            opacity: 0.8;
            border: none;
            background: none;
            
            @include mobile {
                font-size: .5rem;
            }
        }
    }
    &__title {
        display: inline-block;
        
        @include mobile {
            font-size: .8rem;
        }
    }
    &__style {
        margin-bottom: 0.8rem;
        font-size: .8rem;
        
        @include pc {
        }
        @include laptop {
            font-size: .7rem;
        }
        @include tablet {
            font-size: .6rem;
        }
        @include mobile {
            font-size: .5rem;
            margin-bottom: 0.5rem;
        }
    }
    &__stock {
        font-size: .6rem;
        letter-spacing: -0.03em;
        color: #1E5540;
        
        @include mobile {
            font-size: .5rem;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__price-actual {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: -0.03em;
        position: relative;
        color: #292522;
        
        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .7rem;
        }
    }
    &__price-actual:has(.cart__price-old) {
        color: #f23c20;
    }
    &__price-old {
        font-weight: 600;
        font-size: .8rem;
        letter-spacing: -0.03em;
        opacity: 0.5;
        text-decoration: line-through;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        transform: translate(100%, -20%);
        color: #292522;
        
        @include laptop {
            font-size: .6rem;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
    &__volume {
        font-weight: 600;
        font-size: .8rem;
        opacity: 0.8;
        color: #292522;
        padding: 0 .5rem .2rem 0;
        
        @include laptop {
            font-size: .6rem;
            padding: 0;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
}
.quantity {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border: 1px solid #000;
    border-radius: 90px;
    gap: 0.2rem;
    width: fit-content;
    
    @include pc {
    }
    @include laptop {
    }
    @include tablet {
        padding: 0.4rem .8rem;
    }
    @include mobile {
        justify-content: space-between;
        width: 100%;
    }

    &__minus,
    &__plus {
        width: 1.2rem;
        height: 1.2rem;
        background: none;
        border: none;
        
        @include mobile {
            width: .8rem;
            height: .8rem;
        }
    }
    &__num {
        text-align: center;
        width: 3rem;
        background: none;
        border: none;
        font-weight: 600;
        font-size: .7rem;
        color: #000;
        
        @include mobile {
            font-size: .5rem;
            flex: 1 0 0;
            width: 100%;
        }
    }
    &__num::-webkit-outer-spin-button,
    &__num::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}


//Same block
.same {
    grid-column:  1 / -1;
}
.same>svg {
    position: absolute;
    width: 0;
    height: 0;
}