@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
div.wrapper {
    overflow: visible;
}
main.main {
    padding-top: 2rem;
    overflow: visible;
    
    @include laptop {
        padding-top: 1.4rem;
    }
    @include mobile {
        padding-top: .2rem;
    }
}

//Title
.title {
    grid-column: 1 / -1;
    margin-bottom: 1.5rem;
}

//Cart block
.cart {
    grid-column: 1 / 6;
    padding-right: 4rem;
    
    @include pc {
        grid-column: 1 / 5;
        padding-right: 1rem;
    }
    @include laptop {
        padding-right: 0;
    }
    @include tablet {
        grid-column: 1 / -1;
    }
    @include mobile {
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__item {
        display: flex;
        gap: 2.4rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        
        @include pc {
        }
        @include laptop {
            padding-bottom: .8rem;
            gap: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            gap: .8rem;
        }
    }
    &__img {
        display: block;
        height: auto;
        aspect-ratio: 1 / 1;
        width: 12rem;
        overflow: hidden;
        border: 0.50px solid #1E5540;
        border-radius: 24px;
        
        @include pc {
        }
        @include laptop {
            width: 9rem;
        }
        @include tablet {
        }
        @include mobile {
            width: 5rem;
            height: 5rem;
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        gap: 1.2rem;
        
        @include pc {
        }
        @include laptop {
            gap: .6rem;
        }
        @include tablet {
        }
        @include mobile {
            gap: .5rem;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;

        // @include mobile {
        //     flex-direction: column;
        //     align-items: flex-end;
        //     gap: 0.5rem;
        // }

        button {
            font-weight: 400;
            font-size: .6rem;
            text-decoration: underline;
            text-underline-offset: .15rem;
            opacity: 0.8;
            border: none;
            background: none;
            color: #000;
            
            @include mobile {
                font-size: .5rem;
            }
        }
    }
    &__title {
        display: inline-block;
        
        @include mobile {
            font-size: .8rem;
        }
    }
    &__style {
        margin-bottom: 0.8rem;
        font-size: .8rem;
        
        @include pc {
        }
        @include laptop {
            font-size: .7rem;
        }
        @include tablet {
            font-size: .6rem;
        }
        @include mobile {
            font-size: .5rem;
            margin-bottom: 0.5rem;
        }
    }
    &__stock {
        font-size: .6rem;
        letter-spacing: -0.03em;
        color: #1E5540;
        
        @include mobile {
            font-size: .5rem;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__price-actual {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: -0.03em;
        position: relative;
        color: #292522;
        
        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .7rem;
        }
    }
    &__price-actual:has(.cart__price-old) {
        color: #f23c20;
    }
    &__price-old {
        font-weight: 600;
        font-size: .8rem;
        letter-spacing: -0.03em;
        opacity: 0.5;
        text-decoration: line-through;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        transform: translate(100%, -20%);
        color: #292522;
        
        @include laptop {
            font-size: .6rem;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
    &__volume {
        font-weight: 600;
        font-size: .8rem;
        opacity: 0.8;
        color: #292522;
        padding: 0 .5rem .2rem 0;
        
        @include laptop {
            font-size: .6rem;
            padding: 0;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
}
.quantity {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border: 1px solid #000;
    border-radius: 90px;
    gap: 0.2rem;
    width: fit-content;
    
    @include pc {
    }
    @include laptop {
    }
    @include tablet {
        padding: 0.4rem .8rem;
    }
    @include mobile {
        justify-content: space-between;
        width: 100%;
    }

    &__minus,
    &__plus {
        width: 1.2rem;
        height: 1.2rem;
        background: none;
        border: none;
        
        @include mobile {
            width: .8rem;
            height: .8rem;
        }
    }
    &__num {
        text-align: center;
        width: 3rem;
        background: none;
        border: none;
        font-weight: 600;
        font-size: .7rem;
        color: #000;
        
        @include mobile {
            font-size: .5rem;
            flex: 1 0 0;
            width: 100%;
        }
    }
    &__num::-webkit-outer-spin-button,
    &__num::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

//Totals
.totals-sticky-wrapper {
    grid-column: 6 / -1;
    padding-left: 1rem;
    height: 100%;
    
    @include pc {
        padding-left: 0;
    }
    @include laptop {
        grid-column: 5 / -1;
        padding-left: 3rem;
    }
    @include tablet {
        padding-left: 0;
        grid-column: 1 / -1;
    }
    @include mobile {
    }
}
.totals {
    position: sticky;
    top: 4.8rem;
    background: #f6f8f7;
    border-radius: 24px;
    padding: 2rem;
    height: fit-content;
    
    @include pc {
    }
    @include laptop {
        top: 4.4rem;
        padding: 2rem 1.2rem;
    }
    @include tablet {
        position: static;
        padding: 2rem;
    }
    @include mobile {
        padding: 1.6rem 1.2rem;
    }

    .result {
        display: none;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        
        @include pc {
        }
        @include laptop {
            gap: 1.2rem;
        }
        @include tablet {
            gap: 1.6rem;
        }
        @include mobile {
            gap: 1.5rem;
        }

        &__title {}
        &__promo {
            position: relative;
        }
        &__inp::placeholder {
            color: #1E5540;
            text-transform: uppercase;
            opacity: 0.8;
        }
        &__inp {
            border: 0.50px solid #1E5540;
            border-radius: 10px;
            padding: .8rem 2.4rem .8rem .5rem;
            background: none;
            width: 100%;
            font-weight: 600;
            font-size: .6rem;
            line-height: 120%;
            color: #1E5540;
            text-transform: uppercase;

            @include mobile {
                font-size: .5rem;
            }
        }
        &__promo-btn {
            width: 1.4rem;
            height: 1.4rem;
            padding: 0.2rem;
            background: #1e5540;
            border: none;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);
        }
        &__total {
            display: flex;
            flex-direction: column;
        }
        &__total-item {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__summ {
            margin-bottom: 1.6rem;
            
            @include pc {
            }
            @include laptop {
                margin-bottom: 1.2rem;
            }
            @include tablet {
            }
            @include mobile {
            }
        }
        &__product-count {}
        &__total-left-col {
            font-weight: 400;
        }
        &__product-summ {}
        &__total-right-col {
            font-weight: 600;
        }
        &__sale {
            padding-bottom: 1.3rem;
            margin-bottom: 0.8rem;
            border-bottom: 1px solid #000;
            
            @include pc {
            }
            @include laptop {
                padding-bottom: 1.2rem;
            }
            @include tablet {
            }
            @include mobile {
            }
        }
        &__sale-title {}
        &__sale-summ {}
        &__price {}
        &__price-title {
            font-weight: 600;
        }
        &__price-summ {}
        &__to-order {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 3rem;
            justify-content: space-between;
            align-items: center;
            
            @include pc {
            }
            @include laptop {
                gap: 1rem;
            }
            @include tablet {
            }
            @include mobile {
                grid-template-columns: 1fr;
            }
        }
        &__qr {
            @include mobile {
                display: none;;
            }
            div {
                width: 100%;
                aspect-ratio: 1 / 1;
            }
            p {
                font-weight: 600;
                font-size: .6rem;
                text-align: center;
                opacity: 0.6;
                
                @include laptop {
                    font-size: .5rem;
                }
            }
        }
        &__buttons {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            @include laptop {
                gap: 0.6rem;
            }
            @include mobile {
                gap: 0.6rem;
            }
        }
        &__by-tg {
            width: 100%;
            border-radius: 90px;
            background: #1e5540;
            font-size: .7rem;
            letter-spacing: -0.03em;
            color: #fff;
            line-height: auto;
            padding: .8rem 1.2rem;
            text-align: center;
            font-weight: 600;
            
            @include pc {
            }
            @include laptop {
                font-size: .6rem;
            }
            @include tablet {
                padding: .6rem .4rem;
            }
            @include mobile {
                font-size: .5rem;
                width: 100%;
                min-width: 0;
            }
        }
        &__by-site {
            width: 100%;
            border-radius: 90px;
            background: none;
            border: 1px solid #000;
            font-size: .7rem;
            letter-spacing: -0.03em;
            color: #000;
            line-height: auto;
            padding: .8rem 1.2rem;
            text-align: center;
            font-weight: 600;
            
            @include laptop {
                font-size: .6rem;
            }
            @include tablet {
                padding: .6rem .4rem;
            }
            @include mobile {
                font-size: .5rem;
                width: 100%;
                min-width: 0;
            }
        }
    }
    .order {
        display: none;
    }
    .result.active,
    .order.active {
        display: flex;
    }
}

//additional block
.border-slider.additional {
    grid-column:  1 / -1;
}
.border-slider.additional>svg {
    position: absolute;
    width: 0;
    height: 0;
}