@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}

//First screen
.f-screen {
    position: relative;
    padding-top: 1.4rem;

    @include pc {
        padding-top: 0.5rem;
    }
    @include laptop {
        padding-top: 1.2rem;
    }
    @include tablet {
        padding-top: 0.2rem;
    }
    @include mobile {
        padding-top: 1rem;
    }

    &__title {
        font-family: "Impact", serif;
        font-weight: 400;
        font-size: 11.5rem;
        text-transform: uppercase;
        color: #f23c20;
        text-align: center;
        letter-spacing: 0;
        margin-bottom: 6rem;
        
        @include pc {
            font-size: 10rem;
            margin-bottom: 8rem;
        }
        @include laptop {
            font-size: 7rem;
            margin-bottom: 4rem;
        }
        @include tablet {
            font-size: 5rem;
            margin-bottom: -3rem;
        }
        @include mobile {
            font-size: 2.1rem;
            margin-bottom: 1rem;
        }
    }
    
    &__pic {
        position: absolute; //fixed
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        @include centerItem();
        padding-bottom: 15rem;
        opacity: 0;
        // transition: transform .5s cubic-bezier( 0.76, 0.15, 0.79, 0.63 ), padding 1s cubic-bezier( 0.76, 0.15, 0.79, 0.63 );
        animation: canPreload 0.5s ease-out 2s;

        @include laptop {
            padding-top: 3rem;
        }
        @include tablet {
            display: none;
        }
    }
    @keyframes canPreload {
        from {
            opacity: 0;
            padding-bottom: 15rem;
        }
        to {
            opacity: 1;
            padding-bottom: 8rem;
        }
    }
    &__pic.hide {
        display: none;
    }
    &__pic.position1 {
        transform: translate(0, 0);
        padding-bottom: 8rem;
    }
    // &__pic.position2 {
    //     transform: translate(80%, 200%);
    //     padding-bottom: 8rem;
    // }
    // &__pic.position3 {
    //     transform: translate(10%, 0);
    //     padding-bottom: 8rem;
    // }
    model-viewer {
        width: 100%;
        height: 20rem;
        overflow: visible;
        --progress-bar-color: transparent;
    }
    &__info {
        align-items: center;
        row-gap: 6rem;
        
        @include laptop {
            row-gap: 4rem;
        }
        @include tablet {
            row-gap: 3rem;
            align-items: end;
            position: relative;
            z-index: 1;
        }
        @include mobile {
            position: static;
            row-gap: 2rem;
            align-items: center;
        }
    }
    &__img-holder {
        display: none;
        
        @include tablet {
            display: block;
            grid-column: 4 / 6;
        }
        @include mobile {
            order: -1;
            grid-column: 1 / 2;
        }
    }
    &__text {
        grid-column: 1 / 3;
        font-size: 1.2rem;
        padding-right: 1.8rem;
        
        @include pc {
            grid-column: 1 / 4;
            padding-right: 5rem;
            font-size: 1rem;
        }
        @include laptop {
            grid-column: 1 / 3;
            padding-right: 0;
            font-size: .8rem;
        }
        @include tablet {
            grid-column: 1 / 4;
            padding-right: 2rem;
            font-size: .7rem;
        }
        @include mobile {
            grid-column: 2 / -1;
            padding-left: 1.3rem;
            padding-right: 0;
            font-size: .6rem;
        }
    }
    &__button {
        grid-column: 7 / -1;
        justify-self: end;
        
        @include laptop {
            grid-column: 6 / -1;
        }
        @include mobile {
            grid-column: 1 / -1;
            width: 100%;
            order: 1;
        }
    }
    &__categories {
        grid-column: 1 / -1;
    }
}

// About
.about {
    align-items: center;
    &__text {
        grid-column: 1 / 4;
        padding: 12rem 0;
        line-height: 1.5;
        
        @include laptop {
            padding: 7rem 0;
        }
        @include tablet {
            grid-column: 1 / 5;
            padding: 5rem 0;
        }
        @include mobile {
            grid-column: 1 / 4;
            padding: 0;
        }
    }
    &__img {
        overflow: hidden;
        width: 100%;
        grid-column: 5 / -1;
        height: 30rem;

        @include pc {
            height: 25rem;
        }
        @include laptop {
            height: 20rem;
        }
        @include tablet {
            height: 17.5rem;
        }
        @include mobile {
            display: none;
        }
    }
    &__img-mobile {
        display: none;
        overflow: hidden;
        width: 100%;

        @include mobile {
            display: block;
            grid-column: 4 / -1;
            height: 7rem;
        }
    }
}

.leaders>svg {
    position: absolute;
    width: 0;
    height: 0;
}