@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}
.main {
    padding-top: 2rem;
    
    @include laptop {
        padding-top: 1.4rem;
    }
    @include mobile {
        padding-top: .2rem;
    }
}

//Product block
.product {
    @include mobile {
        row-gap: 1.2rem;
    }
    
    &__img {
        grid-column: 1 / 4;
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 32px;
        
        @include pc {
        }
        @include laptop {
        }
        @include tablet {
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    &__like {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        height: 2.4rem;
        width: 2.4rem;
        background: none;
        border: none;
        
        @include pc {
        }
        @include laptop {
            top: 1rem;
            right: 1rem;
            height: 1.8rem;
            width: 1.8rem;
        }
        @include tablet {
            height: 1.2rem;
            width: 1.2rem;
        }
        @include mobile {
            top: 1.2rem;
            right: 1.2rem;
        }
    }
    &__info {
        grid-column: 5 / -1;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        
        @include pc {
        }
        @include laptop {
            gap: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            gap: .8rem;
            grid-column: 1 / -1;
        }
    }
    &__name {
        margin-bottom: 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__stock {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        span {
            white-space: nowrap;
            font-weight: 600;
            font-size: .7rem;
            color: #1e5540;

            @include mobile {
                font-size: .6rem;
            }
        }
        img {
            height: 1rem;
            width: 1rem;
        }
    }
    &__type {
        font-weight: 600;
        font-size: .8rem;
        
        @include pc {
        }
        @include laptop {
            font-size: .7rem;
        }
        @include tablet {
            font-size: .6rem;
        }
        @include mobile {
            font-size: .5rem;
        }
    }
    &__parameter {
        display: flex;
        align-items: flex-start;
        gap: 0.6rem;
    }
    &__parameter-key {
        font-weight: 600;
        font-size: 1rem;
        color: #f78455;
        
        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .6rem;
        }
    }
    &__parameter-value {
        font-weight: 600;
        font-size: 1rem;

        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .6rem;
        }
    }
    &__specs {
        display: flex;
        align-items: center;
    }
    &__specs span {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1;
        color: #f78455;
        padding: 0 0.5rem;
        border-right: 4px solid #f78455;
        
        @include pc {
        }
        @include laptop {
            font-size: 1rem;
            border-right: 3px solid #f78455;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .6rem;
            padding: 0 0.3rem;
            border-right: 2px solid #f78455;
        }
    }
    &__specs span:first-child {
        padding-left: 0;
    }
    &__specs span:last-child {
        border-right: 0;
        padding-right: 0;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__price-actual {
        font-weight: 700;
        font-size: 2.4rem;
        letter-spacing: -0.04em;
        position: relative;
        color: #292522;
        
        @include pc {
        }
        @include laptop {
            font-size: 1.6rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: 1.2rem;
        }
    }
    &__price-actual:has(.product__price-old) {
        color: #f23c20;
    }
    &__price-old {
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: -0.04em;
        opacity: 0.5;
        text-decoration: line-through;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        transform: translate(100%, -20%);
        color: #292522;
        
        @include pc {
        }
        @include laptop {
            font-size: 1rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .8rem;
        }
    }
    &__volume {
        font-weight: 600;
        font-size: 1rem;
        color: #292522;
        padding: 0 0 .2rem 0;
        
        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .6rem;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        @include pc {
        }
        @include laptop {
        }
        @include tablet {
            flex-direction: column;
            row-gap: 0.6rem;
            justify-content: flex-end;
            align-items: flex-start;
        }
        @include mobile {
        }

        button {
            min-width: 11.2rem;
            font-weight: 600;
            font-size: .7rem;
            letter-spacing: -0.03em;
            
            @include pc {
            }
            @include laptop {
                min-width: 10rem;
            }
            @include tablet {
                min-width: 11.2rem;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    &__add-to-cart {
        height: 100%;
        background: #1e5540;
        color: #fff;
    }
    &__buy-now {
        gap: 1.1rem;

        p {
            flex: 1 0 0;
        }
    }
    .accordion-header {
        border-bottom: 0.50px solid rgba(0, 0, 0, 0.6);
        padding: 0 0 .4rem 0;
    }
    .accordion-title {
        font-weight: 700;
        font-size: 1.2rem;
        
        @include pc {
        }
        @include laptop {
            font-size: .8rem;
        }
        @include tablet {
        }
        @include mobile {
            font-size: .6rem;
        }
    }
    .accordion-content {
        padding: 0;
        margin: 0;

        p {
            font-weight: 600;
            font-size: .8rem;
            line-height: 140%;
            opacity: 0.6;
            
            @include pc {
            }
            @include laptop {
                font-size: .6rem;
            }
            @include tablet {
            }
            @include mobile {
            }
        }
    }
}
