.f-screen {
  position: relative;
  padding-top: 1.4rem;
}
@media (max-width: 1800px) {
  .f-screen {
    padding-top: 0.5rem;
  }
}
@media (max-width: 1400px) {
  .f-screen {
    padding-top: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .f-screen {
    padding-top: 0.2rem;
  }
}
@media (max-width: 768px) {
  .f-screen {
    padding-top: 1rem;
  }
}
.f-screen__title {
  font-family: "Impact", serif;
  font-weight: 400;
  font-size: 11.5rem;
  text-transform: uppercase;
  color: #f23c20;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 6rem;
}
@media (max-width: 1800px) {
  .f-screen__title {
    font-size: 10rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 1400px) {
  .f-screen__title {
    font-size: 7rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 1024px) {
  .f-screen__title {
    font-size: 5rem;
    margin-bottom: -3rem;
  }
}
@media (max-width: 768px) {
  .f-screen__title {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }
}
.f-screen__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15rem;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.68, -0.01, 0.32, 0.99), padding 1s cubic-bezier(0.68, -0.01, 0.32, 0.99);
  animation: canPreload 0.5s ease-out 3s;
}
@media (max-width: 1400px) {
  .f-screen__pic {
    animation: canPreloadLaptop 0.5s ease-out 3s;
  }
}
@media (max-width: 1024px) {
  .f-screen__pic {
    display: none;
  }
}
@keyframes canPreload {
  from {
    opacity: 0;
    padding-bottom: 15rem;
  }
  to {
    opacity: 1;
    padding-bottom: 8rem;
  }
}
@keyframes canPreloadLaptop {
  from {
    opacity: 0;
    padding-bottom: 16rem;
  }
  to {
    opacity: 1;
    padding-bottom: 9rem;
  }
}
.f-screen__pic.hide {
  display: none;
}
.f-screen__pic.position1 {
  transform: translate(0, 0);
  padding-bottom: 8rem;
}
@media (max-width: 1400px) {
  .f-screen__pic.position1 {
    padding-bottom: 9rem;
  }
}
.f-screen__pic.position2 {
  transform: translate(80%, 0);
  padding-bottom: 8rem;
}
.f-screen__pic.position3 {
  transform: translate(0, 0);
  padding-bottom: 8rem;
}
@media (max-width: 1400px) {
  .f-screen__pic.position3 {
    transform: translate(-10%, 0);
  }
}
.f-screen model-viewer {
  width: 100%;
  height: 20rem;
  overflow: visible;
  --progress-bar-color: transparent;
}
.f-screen__info {
  align-items: center;
  row-gap: 6rem;
}
@media (max-width: 1400px) {
  .f-screen__info {
    row-gap: 4rem;
  }
}
@media (max-width: 1024px) {
  .f-screen__info {
    row-gap: 3rem;
    align-items: end;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .f-screen__info {
    position: static;
    row-gap: 2rem;
    align-items: center;
  }
}
.f-screen__img-holder {
  display: none;
}
@media (max-width: 1024px) {
  .f-screen__img-holder {
    display: block;
    grid-column: 4/6;
  }
}
@media (max-width: 768px) {
  .f-screen__img-holder {
    order: -1;
    grid-column: 1/2;
  }
}
.f-screen__text {
  grid-column: 1/3;
  font-size: 1.2rem;
  padding-right: 1.8rem;
}
@media (max-width: 1800px) {
  .f-screen__text {
    grid-column: 1/4;
    padding-right: 5rem;
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  .f-screen__text {
    grid-column: 1/3;
    padding-right: 0;
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .f-screen__text {
    grid-column: 1/4;
    padding-right: 2rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .f-screen__text {
    grid-column: 2/-1;
    padding-left: 1.3rem;
    padding-right: 0;
    font-size: 0.6rem;
  }
}
.f-screen__button {
  grid-column: 7/-1;
  justify-self: end;
}
@media (max-width: 1400px) {
  .f-screen__button {
    grid-column: 6/-1;
  }
}
@media (max-width: 768px) {
  .f-screen__button {
    grid-column: 1/-1;
    width: 100%;
    order: 1;
  }
}
.f-screen__categories {
  grid-column: 1/-1;
}

.about {
  align-items: center;
}
.about__text {
  grid-column: 1/4;
  padding: 12rem 0;
  line-height: 1.5;
}
@media (max-width: 1400px) {
  .about__text {
    padding: 7rem 0;
  }
}
@media (max-width: 1024px) {
  .about__text {
    grid-column: 1/5;
    padding: 5rem 0;
  }
}
@media (max-width: 768px) {
  .about__text {
    grid-column: 1/4;
    padding: 0;
  }
}
.about__img {
  display: none;
  overflow: hidden;
  width: 100%;
  grid-column: 5/-1;
}
@media (max-width: 1024px) {
  .about__img {
    display: block;
    height: 17.5rem;
  }
}
@media (max-width: 768px) {
  .about__img {
    display: none;
  }
}
.about__img-mobile {
  display: none;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 768px) {
  .about__img-mobile {
    display: block;
    grid-column: 4/-1;
    height: 7rem;
  }
}

.leaders > svg {
  position: absolute;
  width: 0;
  height: 0;
}

.faq__img {
  grid-column: 1/4;
  padding-right: 2rem;
}
@media (max-width: 1800px) {
  .faq__img {
    padding: 0 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 1800px) {
  .faq__img .faq__img-pc {
    display: none;
  }
}
.faq__img .faq__img-laptop {
  display: none;
}
@media (max-width: 1800px) {
  .faq__img .faq__img-laptop {
    display: block;
  }
}
@media (max-width: 1024px) {
  .faq__img {
    display: none;
  }
}
.faq__accordion {
  grid-column: 4/-1;
  padding-left: 4rem;
}
@media (max-width: 1024px) {
  .faq__accordion {
    grid-column: 1/-1;
    padding-left: 0;
  }
}
.faq .accrodion-holder {
  border-top: 1px solid #1E1E1E;
}
.faq .accrodion-item {
  padding: 1rem;
  border-bottom: 1px solid #1E1E1E;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .faq .accrodion-item {
    padding: 0.5rem;
  }
}
.faq .accrodion-item:has(.accordion-content.opened) {
  background: #1e5540;
  border-bottom: 1px solid #f9f9f9;
}
.faq .accrodion-item:has(.accordion-content.opened) p {
  color: #f9f9f9;
}
.faq .accrodion-item:has(.accordion-content.opened) path {
  stroke: #f9f9f9;
}
@media (max-width: 1800px) {
  .faq .accordion-title {
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  .faq .accordion-title {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .faq .accordion-title {
    font-size: 0.6rem;
  }
}
.faq .accordion-content {
  margin-bottom: 0;
  padding: 0;
}
.faq .accordion-content p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 150%;
}
@media (max-width: 1400px) {
  .faq .accordion-content p {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .faq .accordion-content p {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=home.css.map */
