
    <!--Компонент шапки-->
    <div class="wrapper">
        <main class="main container">
            <section class="f-screen section">
                <h1 class="f-screen__title h1">пивной склад</h1>
                <div class="f-screen__pic"></div>
                <div class="f-screen__info grid">
                    <p class="f-screen__text p">Ботлшоп интересного крафта, сидра, мидов и безалкогольных напитков</p>
                    <div class="f-screen__img-holder">
                        <img src="images/beer-can.png" alt="Банка пива">
                    </div>
                    <a href="#" class="f-screen__button border-btn"><!--Ссылка на страницу каталога со всеми товарами-->
                        <p>Перейти в каталог</p>
                        <div>
                            <img src="images/arrow-right-white.svg" alt="Перейти">
                        </div>
                    </a>
                    <div class="f-screen__categories categories"><!--Список категорий товаров (вывод в соответствии с базой)-->
                        <a href="#" class="category">
                            <div class="category-img-holder">
                                <img src="images/beer-category.png" alt="">
                            </div>
                            <h4 class="category-title">Пиво</h4>
                        </a>
                        <a href="#" class="category">
                            <div class="category-img-holder">
                                <img src="images/mid-category.png" alt="">
                            </div>
                            <h4 class="category-title">Сидры и медовухи</h4>
                        </a>
                        <a href="#" class="category">
                            <div class="category-img-holder">
                                <img src="images/non-alco-category.png" alt="">
                            </div>
                            <h4 class="category-title">Безалкогольное пиво</h4>
                        </a>
                        <a href="#" class="category">
                            <div class="category-img-holder">
                                <img src="images/limonade-category.png" alt="">
                            </div>
                            <h4 class="category-title">Безалкогольные напитки</h4>
                        </a>
                    </div>
                </div>
            </section>
            <!--Компонент карусели новинок-->
            <section class="about section grid">
                <p class="about__text p">В нашем ассортименте только проверенные бренды и редкие новинки, а удобная
                    доставка и подробные описания помогут вам легко выбрать идеальное пиво для любого повода.
                    Присоединяйтесь к миру крафта вместе с нами — здесь каждая бутылка расскажет свою историю!
                </p>
                <div class="about__img">
                    <img src="images/can-30deg.png" alt="Банка пива">
                </div>
                <div class="about__img-mobile">
                    <img src="images/can-0deg.png" alt="Банка пива">
                </div>
            </section>
            <!--Компонент карусели топов продаж-->
            <!--Компонент карусели товаров со скидками-->
            <section class="faq grid section">
                <div class="faq__img">
                    <img class="faq__img-pc" src="images/five-glass-bottles.png" alt="Бутылки сидра">
                    <img class="faq__img-laptop" src="images/three-glass-bottles.png" alt="Бутылки сидра">
                </div>
                <div class="faq__accordion">
                    <ul class="accrodion-holder">
                        <li class="accrodion-item"><!--Элемент аккордиона-->
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p><!--Заголовок (вопрос)-->
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content"><!--Контент (ответ)-->
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                        <li class="accrodion-item">
                            <button class="accordion-header">
                                <p class="accordion-title">Можно ли вернуть пиво, если оно не понравилось?</p>
                                <div class="accordion-bullet">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="accordion-bullet-vert" d="M6 12H18" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="accordion-bullet-hor" d="M12 18L12 6" stroke="#292522" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </button>
                            <div class="accordion-content">
                                <p>По закону алкогольная продукция не подлежит возврату, если товар надлежащего качества. Но если с пивом что-то не так (например, брак или повреждение при доставке), мы обязательно решим вопрос!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
    <!--Компонент cookie-->
    <!--Компонент подвала-->
    <!--Скрипты этой страницы-->
