<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/script.js" defer></script><!--Аналогичным образом подключаем все необходимые стили и скрипты-->
    <title>Document</title><!--Семантику настроить после натяжки на машину-->
</head>
<body>
    <header class="header">
    </header>
    <div class="overlay"></div>
    <div class="wrapper">
        <main class="main container">
        </main>
    </div>
    <a href="#" class="floating-cart">
        <div class="floating-cart__img">
            <img src="images/cart-white-icon" alt="Корзина">
        </div>
        <div class="floating-cart__info">
            <span class="floating-cart__text">Итого:</span>
            <span class="floating-cart__num">0 шт.</span>
            <span class="floating-cart__text">Сумма:</span>
            <span class="floating-cart__summ">0 р</span>
        </div>
    </a>
    <footer class="footer">
    </footer>
</body>
</html>