<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="libraries/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/style.css">
    <!--Стили подключать индивидуально из компонента страницы, иначе они могут переопределять друг друга-->
    
    <script src="libraries/jquery-3.7.1/jquery-3.7.1.min.js" defer></script>
    <script src="libraries/slick-1.8.1/slick/slick.min.js" defer></script>
    <script src="libraries/three-0.132.2/three.min.js" defer></script>
    <script src="libraries/three-0.132.2/GLTFLoader.js" defer></script>
    <script src="libraries/three-0.132.2/DRACOLoader.min.js" defer></script>
    <script src="libraries/three-0.132.2/RectAreaLightUniformsLib.js" defer></script>
    <script type="module" src="js/script.js" defer></script>
    <!--Скрипты указываю все, но по возможности тоже лучше индивидуально из компонента страницы-->
    <!--Может, лучше скрипты поключать перед замыкающим тегом body на каждой странице отдельно, чтобы не было конфликтов-->
    <script type="module" src="js/script.js" defer></script>
    <script type="module" src="js/about-us.js" defer></script>
    <script type="module" src="js/cart-empty.js" defer></script>
    <script type="module" src="js/cart.js" defer></script>
    <script type="module" src="js/catalog.js" defer></script>
    <script type="module" src="js/favourites.js" defer></script>
    <script type="module" src="js/home.js" defer></script>
    <script type="module" src="js/order-check.js" defer></script>
    <script type="module" src="js/product.js" defer></script>
    
    <title></title>
    <meta 
        name="description"
        content=""
    >
    <meta
        name="keywords"
        content=""
    >
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <!--Компонент страницы-->
</body>

</html>