<!--Думается, нужна только на страницах каталога и избранного, на главной и др. не нужна to my mind-->
<a href="#" class="floating-cart"><!--Ссылка на корзину-->
    <div class="floating-cart__img">
        <img src="images/cart-white-icon.svg" alt="Корзина">
    </div>
    <div class="floating-cart__info">
        <span class="floating-cart__text">Итого:</span>
        <span class="floating-cart__num">0 шт.</span><!--Количество позиций в корзине-->
        <span class="floating-cart__text">Сумма:</span>
        <span class="floating-cart__summ">0 р</span><!--Сумма корзины-->
    </div>
</a>