.floating-cart {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 2.4rem;
    padding: 1.2rem;
    border-radius: 24px;
    background: #f23c20;
    z-index: 3;
    
    @include laptop {
        gap: 1rem; 
        padding: .8rem;
    }
    @include tablet {
        display: none;
    }

    &__img {
        width: 1.2rem;
        height: 1.2rem;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: .8rem;
        align-items: center;

        @include laptop {
            gap: .5rem; 
        }

        span {
            font-weight: 600;
            font-size: .8rem;
            letter-spacing: -0.03em;
            color: #fff;
            
            @include laptop {
                font-size: .7rem;
            }
        }
    }
}