<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/404.css">
    
    <script type="module" src="js/script.js" defer></script>

    <title>404</title>
    <meta 
        name="description"
        content="Страница не найдена"
    >
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <header class="header"><!--Компонент шапки-->
    </header>
    <div class="overlay"></div>
    <div class="wrapper">
        <main class="main container">
            <section class="not-found">
                <div class="not-found__text">
                    <span class="not-found__num">4</span>
                    <div class="not-found__img">
                        <img src="images/can-16-77deg.png" alt="Страница не найдена">
                    </div>
                    <span class="not-found__num last-num">4</span>
                    <span class="not-found__descriptor">произошла какая-то ошибка</span>
                </div>
                <div class="not-found__btn-block">
                    <a href="#" class="not-found__btn border-btn">
                        <p>Перейти в каталог</p>
                        <div>
                            <img src="images/arrow-right-white.svg" alt="Перейти">
                        </div>
                    </a>
                </div>
            </section>
        </main>
    </div>
    <footer class="footer"><!--Компонент футера-->
    </footer>
</body>

</html>