<!--Требуемые скрипты и стили-->
<link rel="stylesheet" href="libraries/slick-1.8.1/slick/slick.css" />
<script src="libraries/jquery-3.7.1/jquery-3.7.1.min.js" defer></script>
<script src="libraries/slick-1.8.1/slick/slick.min.js" defer></script>

<section class="bg-slider"><!--Если одинаковых слайдеров несколько, добавить класс секции, в которой слайдер лежит-->
    <!--Начало шапки и элементов управления-->
    <div class="bg-slider__header">
        <h2 class="bg-slider__title h2">Новинки</h2><!--Заголовок слайдера-->
        <div class="bg-slider__btns">
            <button class="bg-slider__btn-left bg-slider__btn"><!--Если одинаковых слайдеров несколько, добавить класс секции, в которой слайдер лежит-->
                <img src="images/arrow-left-white.svg" alt="Назад">
            </button>
            <button class="bg-slider__btn-right bg-slider__btn"><!--Если одинаковых слайдеров несколько, добавить класс секции, в которой слайдер лежит-->
                <img src="images/arrow-right-white.svg" alt="Вперед">
            </button>
        </div>
    </div>
    <!--Конец шапки и элементов управления-->
    <div class="bg-slider__container">
        <!--Начало цикла слайдов. Чтобы листался, надо минимум 3 слайда-->
        <div class="bg-slider__slide">
            <div class="bg-slider__inner">
                <div class="bg-slider__slide-info">
                    <a href="#"><h4 class="bg-slider__slide-title h4">Классический Пшеничный Эль Essenbach</h4></a><!--Название позиции и ссылка-->
                    <a href="#" class="bg-slider__slide-btn bg-btn">Купить</a><!--Ссылка на покупку (добавление в корзину?)-->
                </div>
                <div class="bg-slider__slide-img">
                    <img src="images/new-1.jpg" alt="Классический Пшеничный Эль Essenbach"><!--Изображение позиции-->
                </div>
            </div>
        </div>
        <!--Конец цикла-->
    </div>
</section>