
    <!--Компонент шапки-->
    <div class="wrapper">
        <main class="main container grid">
            <h1 class="title h1">Корзина</h1>
            <section class="empty-cart section">
                <h2 class="empty-cart__title h2">В корзине нет товаров</h2>
                <a href="#" class="empty-cart__button border-btn"><!--Ссылка на каталог-->
                    <p>Перейти в каталог</p>
                    <div>
                        <img src="images/arrow-right-white.svg" alt="Перейти">
                    </div>
                </a>
            </section>
            <!--Компонент карусели дополнительных товаров-->
        </main>
    </div>
    <!--Компонент cookie-->
    <!--Компонент подвала-->
    <!--Скрипты этой страницы-->
