.totals-sticky-wrapper {
  grid-column: 6/-1;
  padding-left: 1rem;
  height: 100%;
}
@media (max-width: 1800px) {
  .totals-sticky-wrapper {
    padding-left: 0;
  }
}
@media (max-width: 1400px) {
  .totals-sticky-wrapper {
    grid-column: 5/-1;
    padding-left: 3rem;
  }
}
@media (max-width: 1024px) {
  .totals-sticky-wrapper {
    padding-left: 0;
    grid-column: 1/-1;
  }
}
.totals {
  position: sticky;
  top: 4.8rem;
  background: #f6f8f7;
  border-radius: 24px;
  padding: 2rem;
  height: fit-content;
}
@media (max-width: 1400px) {
  .totals {
    top: 4.4rem;
    padding: 2rem 1.2rem;
  }
}
@media (max-width: 1024px) {
  .totals {
    position: static;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .totals {
    padding: 1.6rem 1.2rem;
  }
}
.totals .result {
  display: none;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
@media (max-width: 1400px) {
  .totals .result {
    gap: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .totals .result {
    gap: 1.6rem;
  }
}
@media (max-width: 768px) {
  .totals .result {
    gap: 1.5rem;
  }
}
.totals .result__promo {
  position: relative;
}
.totals .result__inp::placeholder {
  color: #1E5540;
  text-transform: uppercase;
  opacity: 0.8;
}
.totals .result__inp {
  border: 0.5px solid #1E5540;
  border-radius: 10px;
  padding: 0.8rem 2.4rem 0.8rem 0.5rem;
  background: none;
  width: 100%;
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 120%;
  color: #1E5540;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .totals .result__inp {
    font-size: 0.5rem;
  }
}
.totals .result__promo-btn {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.2rem;
  background: #1e5540;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
.totals .result__total {
  display: flex;
  flex-direction: column;
}
.totals .result__total-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.totals .result__summ {
  margin-bottom: 1.6rem;
}
@media (max-width: 1400px) {
  .totals .result__summ {
    margin-bottom: 1.2rem;
  }
}
.totals .result__total-left-col {
  font-weight: 400;
}
.totals .result__total-right-col {
  font-weight: 600;
}
.totals .result__sale {
  padding-bottom: 1.3rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #000;
}
@media (max-width: 1400px) {
  .totals .result__sale {
    padding-bottom: 1.2rem;
  }
}
.totals .result__price-title {
  font-weight: 600;
}
.totals .result__to-order {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .totals .result__to-order {
    grid-template-columns: 4.5rem 1fr;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .totals .result__to-order {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .totals .result__qr {
    display: none;
  }
}
.totals .result__qr div {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 0.4rem;
}
.totals .result__qr p {
  font-weight: 600;
  font-size: 0.6rem;
  text-align: center;
  opacity: 0.6;
}
@media (max-width: 1400px) {
  .totals .result__qr p {
    font-size: 0.5rem;
  }
}
.totals .result__buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .totals .result__buttons {
    gap: 0.6rem;
  }
}
@media (max-width: 768px) {
  .totals .result__buttons {
    gap: 0.6rem;
  }
}
.totals .result__by-tg {
  width: 100%;
  border-radius: 90px;
  background: #1e5540;
  font-size: 0.7rem;
  letter-spacing: -0.03em;
  color: #fff;
  line-height: 1;
  padding: 0.8rem 1.2rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .totals .result__by-tg {
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .totals .result__by-tg {
    padding: 0.6rem 0.4rem;
  }
}
@media (max-width: 768px) {
  .totals .result__by-tg {
    font-size: 0.5rem;
    width: 100%;
    min-width: 0;
  }
}
.totals .result__by-site {
  width: 100%;
  border-radius: 90px;
  background: none;
  border: 1px solid #000;
  font-size: 0.7rem;
  letter-spacing: -0.03em;
  color: #000;
  line-height: 1;
  padding: 0.8rem 1.2rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .totals .result__by-site {
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .totals .result__by-site {
    padding: 0.6rem 0.4rem;
  }
}
@media (max-width: 768px) {
  .totals .result__by-site {
    font-size: 0.5rem;
    width: 100%;
    min-width: 0;
  }
}
.totals .order {
  display: none;
  flex-direction: column;
}
.totals .order__title {
  margin-bottom: 2rem;
}
@media (max-width: 1400px) {
  .totals .order__title {
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 1024px) {
  .totals .order__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .totals .order__title {
    margin-bottom: 1.6rem;
  }
}
.totals .order .checkout {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
@media (max-width: 1400px) {
  .totals .order .checkout {
    gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .totals .order .checkout {
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 768px) {
  .totals .order .checkout {
    gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
.totals .order .checkout__field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.totals .order .checkout__field input, .totals .order .checkout__field textarea {
  border: 1px solid #1e5540;
  border-radius: 60px;
  width: 100%;
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: -0.03em;
  color: #000;
  background: none;
}
@media (max-width: 1400px) {
  .totals .order .checkout__field input, .totals .order .checkout__field textarea {
    padding: 0.5rem 1.5rem;
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) {
  .totals .order .checkout__field input, .totals .order .checkout__field textarea {
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .totals .order .checkout__field input, .totals .order .checkout__field textarea {
    padding: 0.5rem 1.5rem;
    font-size: 0.6rem;
  }
}
.totals .order .checkout__field textarea {
  resize: none;
  border-radius: 24px;
  scrollbar-width: none;
}
.totals .order .checkout__field label {
  background: #f6f8f7;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: -0.03em;
  color: #1e5540;
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translateY(-50%);
  padding: 0 0.2rem;
  line-height: 1;
}
.totals .order .checkout__field.error input, .totals .order .checkout__field.error textarea {
  background: #fff5f5;
  border-color: #f23c20;
}
.totals .order .checkout__field.error label {
  color: #f23c20;
}
.totals .order .checkout__error {
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: -0.03em;
  color: #f23c20;
}
.totals .order__summ {
  font-weight: 600;
  color: #1e5540;
  margin-bottom: 1.6rem;
}
@media (max-width: 1400px) {
  .totals .order__summ {
    margin-bottom: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .totals .order__summ {
    margin-bottom: 1.6rem;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .totals .order__summ {
    font-size: 0.7rem;
    margin-bottom: 1.2rem;
  }
}
.totals .order__btns {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .totals .order__btns {
    gap: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .totals .order__btns {
    gap: 1.6rem;
  }
}
@media (max-width: 768px) {
  .totals .order__btns {
    gap: 1.2rem;
  }
}
.totals .order__back-btn {
  width: 7.5rem;
  min-width: 0;
  gap: 0;
  flex-shrink: 0;
  background: none;
}
@media (max-width: 768px) {
  .totals .order__back-btn {
    width: auto;
  }
}
.totals .order__back-btn p {
  font-size: 0.7rem;
  padding-left: 0;
  padding-right: 0.8rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .totals .order__back-btn p {
    display: none;
  }
}
@media (max-width: 768px) {
  .totals .order__back-btn div {
    padding: 0.5rem;
  }
}
.totals .order__confirm-btn {
  background: #1e5540;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  flex-shrink: 1;
}
.totals .result.active,
.totals .order.active {
  display: flex;
}