body:has(.check-age.active) {
  overflow: hidden;
}

.check-age.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-age.hide {
  display: none;
}

.check-age {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 4;
  overflow: hidden;
}
.check-age__modal {
  border-radius: 24px;
  background: #fff;
  padding: 4.5rem 7rem;
}
@media (max-width: 1024px) {
  .check-age__modal {
    padding: 3rem 5rem;
  }
}
@media (max-width: 768px) {
  .check-age__modal {
    padding: 3rem 1rem;
    max-width: 95%;
  }
}
.check-age__description {
  color: #1e5540;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: -0.03em;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 0.8rem;
}
@media (max-width: 1024px) {
  .check-age__description {
    font-size: 0.7rem;
  }
}
.check-age__title {
  color: #1e5540;
  text-align: center;
  margin-bottom: 3rem;
}
.check-age__btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .check-age__btns {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .check-age__btns {
    flex-direction: column;
  }
}
.check-age__btn {
  color: #1e5540;
  border: 2px solid #1e5540;
  border-radius: 90px;
  padding: 0.8rem 0;
  width: 8rem;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -0.03em;
  background: none;
}
@media (max-width: 1024px) {
  .check-age__btn {
    font-size: 0.8rem;
    padding: 0.6rem 0;
    width: 6rem;
  }
}
@media (max-width: 768px) {
  .check-age__btn {
    padding: 0.6rem 0;
    width: 100%;
  }
}