<div class="check-age active"><!--или hide; active - если проверка не пройдена, если пройдена успешно, active удаляем, hide добавляем-->
    <div class="check-age__modal">
        <p class="check-age__description">Контент сайта предназначен для совершеннолетних</p>
        <h1 class="check-age__title h1">Вам уже есть 18 лет?</h1>
        <div class="check-age__btns">
            <button type="button" class="check-age__btn" id="check-age__no">Нет</button>
            <button type="button" class="check-age__btn" id="check-age__yes">Да</button>
        </div>
    </div>
</div>