//Checking that age of user > 18
body:has(.check-age.active) {
    overflow: hidden;
}
.check-age.active {
    @include centerItem();
}
.check-age.hide {
    display: none;
}
.check-age {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 4;
    overflow: hidden;

    &__modal {
        border-radius: 24px;
        background: #fff;
        padding: 4.5rem 7rem;
        
        @include tablet {
            padding: 3rem 5rem;
        }
        @include mobile {
            padding: 3rem 1rem;
            max-width: 95%;
        }
    }
    &__description {
        color: #1e5540;
        font-weight: 400;
        font-size: .8rem;
        letter-spacing: -0.03em;
        opacity: 0.8;
        text-align: center;
        margin-bottom: 0.8rem;

        @include tablet {
            font-size: .7rem;
        }
    }
    &__title {
        color: #1e5540;
        text-align: center;
        margin-bottom: 3rem;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @include tablet {
            justify-content: center;
        }
        @include mobile {
            flex-direction: column;
        }
    }
    &__btn {
        color: #1e5540;
        border: 2px solid #1e5540;
        border-radius: 90px;
        padding: .8rem 0;
        width: 8rem;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: -0.03em;
        background: none;
        
        @include tablet {
            font-size: .8rem;
            padding: .6rem 0;
            width: 6rem;
        }
        @include mobile {
            padding: .6rem 0;
            width: 100%;
        }
    }
}