<div class="categories">
    <!--Начало цикла-->
    <a href="#" class="category">
        <div class="category-img-holder">
            <img src="images/beer-category.jpg" alt=""><!--Изображение категории-->
        </div>
        <h4 class="category-title">Пиво</h4><!--Название категории-->
    </a>
    <!--Конец цикла-->
    <a href="#" class="category">
        <div class="category-img-holder">
            <img src="images/mid-category.jpg" alt="">
        </div>
        <h4 class="category-title">Сидры и медовухи</h4>
    </a>
    <a href="#" class="category">
        <div class="category-img-holder">
            <img src="images/non-alco-category.jpg" alt="">
        </div>
        <h4 class="category-title">Безалкогольное пиво</h4>
    </a>
    <a href="#" class="category">
        <div class="category-img-holder">
            <img src="images/limonade-category.jpg" alt="">
        </div>
        <h4 class="category-title">Безалкогольные напитки</h4>
    </a>
</div>