<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/catalog.css">

    <script type="module" src="js/catalog.js" defer></script>
    <script type="module" src="js/script.js" defer></script>

    <title>Каталог напитков - Пивной Склад</title>
    <meta 
        name="description"
        content="В каталоге широкий ассортимент напитков от лучших пивоварен России по доступным ценам, скидки и акции"
    >
    <meta
        name="keywords"
        content="пиво, крафт, Пивной Склад, каталог"
    >
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <header class="header"><!--Компонент шапки-->
    </header>
    <div class="filters-overlay"></div><!--Оверлей для блока фильтров-->
    <div class="overlay"></div>
    <div class="wrapper">
        <main class="main container grid">
            <aside class="filters"><!--Компонент блока фильтров-->
            </aside>
            <section class="catalog section"><!--Компонент списка товаров-->
            </section>
        </main>
    </div>
    <a href="#" class="floating-cart"><!--Компонент плавающей корзины-->
    </a>
    <footer class="footer"><!--Компонент подвала-->
    </footer>
</body>

</html>