@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin pc {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 768px) {
        @content;
    }
}

.main {
    padding-top: 2rem;
    
    @include laptop {
        padding-top: 1.4rem;
    }
    @include mobile {
        padding-top: .2rem;
    }
}
.filters:has(.filters__holder.opened) {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: #fff;
    overflow: auto;
    padding-top: 3.4rem;
}
.filters {
    grid-column: 1 / 3;
    padding-right: 5rem;
    
    @include pc {
        padding-right: 1.5rem;
    }
    @include laptop {
        padding-right: 0;
        margin-right: -0.6rem;
    }
    @include tablet {
        grid-column: 1 / -1;
        padding: 0;
        margin: 0;
    }
    
    &__open-btn.hide {
        display: none;
    }
    &__open-btn {
        display: none;
        
        @include tablet {
            display: flex;
            gap: 0.8rem;
            justify-content: end;
            align-items: center;
            padding-bottom: 1.3rem;
        }
    }
    &__icon {
        width: 1.2rem;
        height: 1.2rem;
    }
    &__open-text {
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: -0.03em;
        color: #000;
    }
    &__closer-holder {
        justify-content: end;
        margin-bottom: 2.4rem;
        display: none;

        @include tablet {
            display: flex;
        }
    }
    &__closer {
        width: 1.2rem;
        height: 1.2rem;
    }
    &__holder {
        padding: 1.2rem 0;
        border-radius: 24px;
        background: rgba(30, 85, 64, 0.04);
        
        @include tablet {
            padding: 1.2rem 2.5rem;
            display: none;
        }
        @include mobile {
            padding: 1.2rem 1rem;
        }
    }
    &__holder.opened {
        display: block;
        min-height: 100%;
    }
    &__search {
        margin: 0 1.2rem;
        padding: 0 0.4rem;
        border-bottom: 0.20px solid rgba(30, 85, 64, 0.5);
        position: relative;

        @include tablet {
            margin: 0;
            padding: 0 1.2rem 0 0;
        }
    }
    &__search::after {
        content: "";
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url(../images/search-icon-black.svg) no-repeat center/contain;
    }
    &__search>input:focus::placeholder {
        opacity: .4;
    }
    &__search>input::placeholder {
        color: #292522;
        opacity: 1;
    }
    &__search>input {
        padding: 0.8rem 0;
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: -0.03em;
        background: none;
        
        @include tablet {
            padding: 0.4rem 0;
            width: 100%;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
    }
    &__item-holder:hover .filters__item {
        background: #d2ddd9;
        margin: 0;
        padding: 0.8rem 1.6rem;
        
        @include tablet {
            background: transparent;
            margin: 0;
            padding: 0.4rem 0;
        }
    }
    &__item-holder {
        position: relative;
    }
    &__item {
        position: relative;
        margin: 0 1.2rem;
        padding: 0.8rem .4rem;
        border-bottom: 0.20px solid rgba(30, 85, 64, 0.5);
        transition: background-color .2s ease, padding .2s ease, margin .2s ease;
        
        @include tablet {
            margin: 0;
            padding: 0.4rem 0;
        }
    }
    &__item-title {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item-name {
        color: #292522;
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: -0.03em;
    }
    &__item-bullet {
        width: 1.2rem;
        height: 1.2rem;
        transform: rotate(0);
    }
    &__item-bullet>img {
        transition: transform .3s ease;
    }
    &__item-select-block {
        display: flex;
        flex-wrap: wrap;
        gap: 0 0.4rem;
    }
    &__item-select {
        font-weight: 500;
        font-size: .5rem;
        line-height: 156%;
        color: #fff;
        padding: 0.3rem 1rem 0.3rem 0.4rem;
        border-radius: 90px;
        background: #1e5540;
        margin-top: 0.5rem;
        position: relative;
        
        @include mobile {
            font-size: .4rem;
        }
    }
    &__item-select::after {
        content: "";
        position: absolute;
        background: url(../images/closer-icon-white.svg) no-repeat center/contain;
        width: 1.2rem;
        height: 1.2rem;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__item.selected {
        background: #d2ddd9;
        margin: 0;
        padding: 0.8rem 1.6rem;
    }
    &__item.selected .filters__item-bullet>img {
        transform: rotateZ(180deg);
    }
    &__menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(105%, -0.5rem);
        background: #d2ddd9;
        z-index: 2;
        min-width: 14rem;
        border-radius: 24px;
        overflow: hidden;

        @include tablet {
            border-radius: 0;
        }
    }
    &__menu.opened {
        display: block;
    }
    &__menu-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 20rem;
        // scrollbar-width: thin;
        // scrollbar-color: #1e5540 transparent;
        
        @include laptop {
            max-height: 15rem;
        }
        @include tablet {
            max-height: none;
        }
    }
    &__menu .filters__menu-list::-webkit-scrollbar {
        width: .4rem;
    }
    &__menu .filters__menu-list::-webkit-scrollbar-track {
        background: transparent;
    }
    &__menu .filters__menu-list::-webkit-scrollbar-thumb {
        background-color: #1e5540;
        border-radius: 90px;
    }
    &__menu-item:hover {
        background: rgba(41, 37, 34, 0.1);
        margin: 0;
        padding: 0.8rem 1.6rem;

        @include tablet {
            background: transparent;
            padding: .4rem 1.2rem;
        }
    }
    &__menu-item {
        position: relative;
        margin: 0 1.2rem;
        padding: 0.8rem 0.4rem;
        border-bottom: 0.20px solid rgba(30, 85, 64, 0.5);
        color: #292522;
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: -0.03em;
        cursor: pointer;
        transition: background-color .2s ease, padding .2s ease, margin .2s ease;

        @include tablet {
            padding: 0.4rem 0;
        }
    }
    &__menu-item:last-child {
        border: none;
    }
    &__menu-item::after {
        display: none;
        position: absolute;
        content: "";
        background: url(../images/tick-white.svg) no-repeat center/contain;
        width: 1rem;
        height: 1rem;
        top: 50%;
        right: 0.4rem;
        transform: translateY(-50%);
    }
    &__menu-item.selected:hover {
        background: #1e5540;
    }
    &__menu-item.selected {
        background: #1e5540;
        color: #fff;
        margin: 0;
        padding: 0.8rem 1.6rem;

        @include tablet {
            padding: 0.4rem 1.2rem;
        }
    }
    &__menu-item.selected::after {
        display: block;
    }
    &__button {
        padding: 0 1.2rem;
    }
    &__button>.bg-btn {
        width: 100%;
        background: #1e5540;
        color: #fff;
        font-size: .7rem;
        padding: 0.7rem 1.5rem;
    }
    @include tablet {
        .filters__item {
            transition: margin .5s ease;
        }
        .filters__item.opened {
            margin-bottom: 1.5rem;
        }
        .filters__menu {
            position: static;
            transform: translate(0);
            display: block;
            overflow: hidden;
            height: 0;
            transition: all 0.5s ease;
        }
    }
}
.catalog {
    grid-column: 3 / -1;
    margin-left: -1.5rem;
    
    @include pc {
        margin-left: 0;
    }
    @include laptop {
        padding-left: 0.6rem;
    }
    @include tablet {
        grid-column: 1 / -1;
        padding-left: 0;
    }

    &>svg {
        position: absolute;
        width: 0;
        height: 0;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 4rem 1.2rem;
        margin-bottom: 6rem;
        
        @include pc {
            grid-template-columns: repeat(4, 1fr);
            gap: 2.4rem 1.2rem;
        }
        @include laptop {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 5rem;
        }
        @include tablet {
            margin-bottom: 4rem;
        }
        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem .6rem;
        }
    }
    .beer-card__picture-block {
        margin-bottom: 0.5rem;

        @include mobile {
            margin-bottom: 0.4rem;
        }
    }
    .beer-card__list {
        gap: 0.5rem;

        @include mobile {
            gap: 0.4rem;
        }
    }
    .beer-card__title {
        font-size: .7rem;
        
        @include mobile {
            font-size: .5rem;
        }
    }
    .beer-card__item {
        font-size: .7rem;

        @include mobile {
            font-size: .5rem;
        }
    }
    .beer-card__params .beer-card__param {
        padding: 0 0.3rem;
        
        @include mobile {
            padding: 0 0.2rem;
        }
    }
    .beer-card__param:first-child {
        padding-left: 0;
    }
    .beer-card__param:last-child {
        padding-right: 0;
    }
    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    &__more {
        min-width: 9.2rem;
    }
    &__pagination {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        @include mobile {
            gap: 0.8rem;
        }
    }
    &__pagination-item a {
        width: 100%;
        height: 100%;
        @include centerItem();
    }
    &__pagination-item img {
        object-position: center;
    }
    .num {
        font-weight: 600;
        font-size: .9rem;
        letter-spacing: -0.03em;
        color: #000;
        opacity: 0.4;
        
        @include mobile {
            font-size: .7rem;
        }
    }
    .prev {
        width: 1rem;
        margin-right: 0.5rem;

        @include mobile {
            width: .8rem;
            margin: 0;
        }
    }
    .current {
        opacity: 1;
    }
    .next {
        width: 1rem;
        margin-left: 0.5rem;
        
        @include mobile {
            width: .8rem;
            margin: 0;
        }
    }
    .inactive {
        opacity: 0.6;
        cursor: default;
        pointer-events: none;
    }
}
