<footer class="footer">
    <div class="footer__holder container grid">
        <div class="footer__col-1">
            <div class="footer__home">
                <div class="footer__logo">
                    <a href="#"><img src="images/logo-white.svg" alt="Логотип"></a><!--Логотип со ссылкой на главную-->
                </div>
                <p class="footer__descriptor">Ботлшоп крафтового пива, сидра, мидов и безалкогольных напитков</p>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-item">
                    <p class="footer__contacts-title">Номер телефона:</p>
                    <a href="tel:79217793845" class="footer__contacts-info">+7 (921) 779-38-45</a>
                </div>
                <div class="footer__contacts-item">
                    <p class="footer__contacts-title">Мы в соц. сетях:</p>
                    <ul class="footer__contacts-list">
                        <li><a href="#"><img src="images/ig-social.svg" alt="instagram"></a></li><!--Указать ссылки на соц. сети-->
                        <li><a href="#"><img src="images/tg-social.svg" alt="telegram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__contacts-email">
                <p class="footer__contacts-title">Почта:</p>
                <a href="mailto:pivnoysklad@datacraft.su" class="footer__contacts-info">pivnoysklad@datacraft.su</a>
            </div>
        </div>
        <ul class="footer__col-2 footer__menu-list"><!--Технические разделы меню (гравная, о нас, faq, экскурсия)-->
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
        </ul>
        <ul class="footer__col-3 footer__menu-list"><!--Разделы меню по напиткам (пиво, сидры и медовухи, б/а)-->
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
            <li class="footer__menu-item"><a href="#">Главная</a></li>
        </ul>
        <div class="footer__form-holder"><!--Форма обратной связи-->
            <p class="footer__form-title">Заполните форму и мы ответим на все ваши вопросы!</p>
            <form action="" class="footer__form">
                <input type="text" placeholder="Имя">
                <input id="footerPhone" name="footerPhone" type="phone" placeholder="Номер телефона">
                <button type="submit" class="bg-btn">Оставить заявку</button>
            </form>
        </div>
        <div class="footer__partners">
            <p class="footer__parthers-title">Наши проекты:</p>
            <ul class="footer__partners-list">
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/plague-brew-logo.svg" alt="Plague Brew">
                        </div>
                        <p class="footer__partners-descriptor">чумная пивоварня</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/hhc-logo.svg" alt="Hop Hunting Club">
                        </div>
                        <p class="footer__partners-descriptor">рестоклуб селективного пива</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/data-logo.svg" alt="datacraft">
                        </div>
                        <p class="footer__partners-descriptor">ПО для пивоварен</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/fermentor-logo.svg" alt="Fermentor">
                        </div>
                        <p class="footer__partners-descriptor">контрактная пивоварня</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/pa-logo.svg" alt="Plague Arena">
                        </div>
                        <p class="footer__partners-descriptor">бар крафтовых премьер</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/nv-logo.svg" alt="Невская винокурня">
                        </div>
                        <p class="footer__partners-descriptor">магазин оборудования</p>
                    </a>
                </li>
                <li class="footer__partners-item">
                    <a href="#">
                        <div class="footer__partners-img">
                            <img src="images/aa-logo.png" alt="AA-Fest">
                        </div>
                        <p class="footer__partners-descriptor">крафт-фестиваль</p>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer__title">пивной  склад</p>
        <ul class="footer__underline">
            <li class="footer__underline-item"><a href="#">Согласие на обработку персональных данных</a></li><!--Соответствующие ссылки на документы-->
            <li class="footer__underline-item"><a href="#">Правила обработки cookie</a></li>
            <li class="footer__underline-item"><a href="#">Политика обработки персональных данных</a></li>
        </ul>
    </div>
</footer>