.footer {
    overflow: hidden;
    background: #1e5540;
    padding-top: 2.5rem;
    
    @include mobile {
        padding-top: 2rem;
    }
    &__holder {
        @include laptop {
            row-gap: 2rem;
        }
        @include mobile {
            row-gap: 3rem;
        }
    }

    p, a, li {
        color: #f9f9f9;
    }
    &__col-1 {
        grid-column: 1 / 3;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;

        @include pc {
            grid-column: 1 / 4;
        }
        @include mobile {
            grid-column: 1 / -1;
        }
    }
    &__logo {
        height: 2.5rem;
    }
    &__descriptor {
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: -0.03em;

        @include tablet {
            font-size: .6rem;
        }
    }
    &__col-2 {
        grid-column: 5 / 7;
        
        @include mobile {
            grid-column: 1 / 3;
        }
    }
    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    &__menu-item {
        a {
            font-weight: 400;
            font-size: 1rem;

            @include tablet {
                font-size: .8rem;
            }
            @include mobile {
                font-size: .7rem;
            }
        }
    }
    &__col-3 {
        grid-column: 7 / -1;
        
        @include mobile {
            grid-column: 3 / -1;
        }
    }
    &__form-holder {
        grid-column: 1 / 4;
        margin-top: 6rem;
        
        @include pc {
            grid-column: 1 / 5;
        }
        @include laptop {
            grid-column: 1 / 6;
            margin-top: 0;
        }
        @include tablet {
            grid-column: 1 / -1;
        }
    }
    &__form-title {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 120%;
        
        @include mobile {
            font-size: .7rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        input::placeholder {
            color: #f9f9f9;
            opacity: 0.8;
        }
        input {
            padding: 1rem;
            background: none;
            border: 1px solid #f9f9f9;
            border-radius: 10px;
            font-weight: 400;
            font-size: .8rem;
            line-height: 120%;
            margin-bottom: 0.8rem;
            color: #f9f9f9;
            
            @include mobile {
                font-size: .6rem;
            }
        }
        button {
            margin-top: 1.7rem;
            align-self: flex-end;

            @include mobile {
                padding: 0.6rem 1.5rem;
            }
        }
    }
    &__partners {
        grid-column: 5 / -1;
        margin-top: 6rem;
        
        @include pc {
            grid-column: 5 / -1;
        }
        @include laptop {
            margin-top: 0;
            grid-column: 1 / -1;
        }
    }
    &__parthers-title {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1.2rem;
        line-height: 120%;
    }
    &__partners-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
        align-items: center;
        
        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__partners-item>a {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    &__partners-img>img {
        height: auto;
        aspect-ratio: 1 / 1;
        object-position: bottom;
    }
    &__partners-descriptor {
        font-weight: 400;
        font-size: .6rem;
        text-align: center;
    }
    &__title {
        grid-column: 1 / -1;
        font-weight: 400;
        font-size: 11.5rem;
        letter-spacing: 0;
        font-family: "Impact", serif;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        opacity: 0.1;
        
        @include pc {
            font-size: 10rem;
        }
        @include laptop {
            font-size: 7rem;
        }
        @include tablet {
            font-size: 5rem;
        }
        @include mobile {
            font-size: 2.1rem;
        }
    }
    &__underline {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        border-top: .5px solid #f9f9f9;

        @include mobile {
            flex-direction: column;
            gap: 1rem;
        }
    }
    &__underline-item {
        font-weight: 300;
        font-size: .8rem;
        
        a {
            font-weight: inherit;
            font-size: inherit;
        }
    }
}