<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="libraries/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cart.css">
    
    <script src="libraries/jquery-3.7.1/jquery-3.7.1.min.js" defer></script>
    <script src="libraries/slick-1.8.1/slick/slick.min.js" defer></script>

    <script type="module" src="js/script.js" defer></script>
    <script type="module" src="js/cart.js" defer></script>

    <title>Каталог - Пивной Склад</title>
    <meta 
        name="description"
        content="Оформите заказ напитков от лучших пивоварен России от классических сортов до необычных экспериментов по доступным ценам. Пивной Склад"
    >
    <meta
        name="keywords"
        content="пиво, крафт, Пивной Склад, напитки, корзина, купить"
    >
    <link rel="icon" href="favicon.ico">
</head>

<body>
    <header class="header"><!--Компонент шапки-->
    </header>
    <div class="overlay"></div>
    <div class="wrapper">
        <main class="main container grid">
            <h1 class="title h1">Корзина</h1><!--Заголовок страницы-->
            <section class="cart section"><!--Компонент корзины-->
            </section>
            <div class="totals-sticky-wrapper"><!--Компонент оформления заказа-->
            </div>
            <section class="additional border-slider section"><!--Компонент карусели дополнительных товаров-->
            </section>
        </main>
    </div>
    <footer class="footer"><!--Компонент подвала-->
    </footer>
</body>

</html>